main {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: .75rem;
    max-width: 62.5rem;
    gap: .75rem;
}

main div {
    display: flex;
    flex-wrap: wrap;
    padding: .625rem;
    height: 18.75rem;
    width: 12.5rem;
    justify-content: center;
    font-size: 1.375rem;
    color: #fff;

    transition: transform 0.1s ease-in-out;
}

main div:hover {
    transform: scale(1.1);
}